.btn:hover {
  background-color: #c2185b; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

.mb-30 {
  margin-bottom: 30px; }

.collage {
  width: 100%; }

.mb-20 {
  margin-bottom: 20px; }

.footer {
  padding: 50px 0;
  color: #fff;
  background-color: #0c1b35;
  font-size: 16px; }

.collage {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: block; }
  @media screen and (max-width: 600px) {
    .collage {
      display: none; } }
  .collage__image {
    width: 100%; }

.carousel {
  border-radius: 5px; }

.fz-14 {
  font-size: 14px; }

.mw-timetable {
  max-width: 300px;
  min-width: 300px; }

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 10px; }
  .gallery__image {
    margin-bottom: 20px; }
  .gallery__info {
    display: flex;
    align-items: center; }
  .gallery__link {
    display: block;
    margin-left: 20px; }
  .gallery__icon {
    display: block;
    transition: .2s; }
    .gallery__icon:hover {
      transform: scale(1.3); }
  .gallery__social {
    display: flex; }

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px; }
  @media screen and (max-width: 600px) {
    .about {
      padding-top: 0; } }

.advantages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .advantages__item {
    flex-basis: 45%; }

.achievement__container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; }

#first_map, #second_map {
  border: 5px solid white;
  border-radius: 5px; }

@media screen and (max-width: 426px) {
  .title-media {
    font-size: 34px; } }

.coaches__title {
  text-align: center;
  margin-bottom: 30px; }

.coaches__block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.coaches__name {
  font-size: 20px;
  margin-bottom: 10px; }

.coaches__image {
  width: 100%; }

.coaches__item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-right: 0;
  margin-bottom: 30px; }
  @media screen and (min-width: 600px) {
    .coaches__item {
      flex-basis: 45%;
      margin-right: 20px; } }
  @media screen and (min-width: 754px) {
    .coaches__item {
      margin-bottom: 0;
      flex-basis: 30%; } }
  .coaches__item:last-child {
    margin-right: 0;
    margin-bottom: 0; }

.coaches__text {
  margin-top: 20px; }

.coaches__list {
  max-width: 650px; }

#first_map, #second_map {
  height: 400px;
  width: 100%; }

.header__container {
  width: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 980px) {
    .header__container {
      padding: 0 15px; } }

.header__row {
  display: flex;
  justify-content: space-between; }

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 980px) {
    .header__info {
      display: none; } }

.header__school {
  text-align: center; }

.header__main {
  width: 100%;
  max-width: 600px;
  min-width: 600px; }
  @media screen and (max-width: 980px) {
    .header__main {
      margin: 0 auto; } }
  @media screen and (max-width: 630px) {
    .header__main {
      min-width: 100%; } }

.header__menu {
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .header__menu {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap; } }

.header__item {
  width: 110px;
  margin-bottom: 10px;
  margin-right: 0; }
  @media screen and (max-width: 768px) {
    .header__item {
      margin-right: 10px; } }

.header__link {
  width: 100%; }

.header__title {
  font-size: 24px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px; }
  @media screen and (max-width: 560px) {
    .header__title {
      text-align: center;
      width: 100%;
      max-width: 300px;
      margin: 0 auto 10px auto; } }
  @media screen and (max-width: 400px) {
    .header__title {
      max-width: 250px;
      font-size: 22px; } }
  @media screen and (max-width: 350px) {
    .header__title {
      font-size: 20px; } }

.header__phones {
  text-align: center;
  color: #c92d9f;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 15px 0; }

.header__image-block {
  width: 100%;
  max-width: 80px;
  margin: 0 auto; }

.header__logo {
  width: 100%;
  max-width: 280px;
  margin: 0 40px; }
  @media screen and (max-width: 768px) {
    .header__logo {
      max-width: 180px;
      margin-left: 200px; } }
  @media screen and (max-width: 600px) {
    .header__logo {
      margin: 0 auto 10px auto; } }
  @media screen and (max-width: 460px) {
    .header__logo {
      max-width: 160px; } }
  @media screen and (max-width: 430px) {
    .header__logo {
      max-width: 140px; } }

.header__main {
  text-align: center; }

.header__image {
  width: 100%;
  display: block; }

.header__block {
  display: flex; }

.header__social-link {
  display: block;
  margin-right: 20px; }
  .header__social-link:last-child {
    margin-right: 0; }

.header__icon {
  display: block;
  transition: .2s; }
  .header__icon:hover {
    transform: scale(1.3); }

.header__social {
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0; }

.header__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media screen and (max-width: 600px) {
    .header__contacts {
      display: none; } }

.header__ukraine-dance {
  width: 100%;
  max-width: 60px;
  margin-top: 30px; }

.header__world-dance {
  width: 100%;
  max-width: 60px;
  margin-top: 30px; }

.header__fed-link {
  display: block; }

.header__content {
  display: flex; }
  @media screen and (max-width: 768px) {
    .header__content {
      display: none; } }

.header__checkbox {
  display: none; }

.header__menu-btn {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 100;
  background: #0c1b35;
  text-align: center;
  cursor: pointer;
  display: none;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 768px) {
    .header__menu-btn {
      display: block; } }

.header__menu-icon {
  position: absolute;
  top: 24px;
  left: 11px; }
  .header__menu-icon, .header__menu-icon::before, .header__menu-icon::after {
    width: 28px;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .header__menu-icon::before, .header__menu-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .header__menu-icon::before {
    top: -9px; }
  .header__menu-icon::after {
    top: 9px; }

@media screen and (max-width: 768px) {
  .header__checkbox:checked ~ .header__content {
    display: block;
    z-index: 98;
    align-self: center;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0px;
    left: 0;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); } }

.header__menu-btn:hover .header__menu-icon::before {
  top: -10px; }

.header__menu-btn:hover .header__menu-icon::after {
  top: 10px; }

.header__checkbox:checked + .header__menu-btn .header__menu-icon {
  background-color: transparent; }

.header__checkbox:checked + .header__menu-btn .header__menu-icon::before {
  top: 0;
  transform: rotate(135deg); }

.header__checkbox:checked + .header__menu-btn .header__menu-icon::after {
  top: 0;
  transform: rotate(-135deg); }

.timetable {
  margin-bottom: 30px; }
  .timetable__image-block {
    width: 100%;
    max-width: 650px;
    margin: 0 auto; }
  .timetable__image {
    width: 100%; }

.trends__item {
  margin-bottom: 30px;
  flex-basis: 300px;
  margin-right: 20px; }
  .trends__item:last-child {
    margin-right: 0; }

.trends__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.trends__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px; }

.trends__image-block {
  width: 210px;
  min-height: 300px;
  max-height: 300px;
  margin: 0 auto 15px auto; }
  .trends__image-block--1 {
    background-image: url("./img/dance-school-photo.png");
    background-size: contain;
    background-repeat: no-repeat; }
  .trends__image-block--2 {
    background-image: url("./img/social-dance-photo.png");
    background-size: contain;
    background-repeat: no-repeat; }
  .trends__image-block--3 {
    background-image: url("./img/dance-sport-photo.png");
    background-size: contain;
    background-repeat: no-repeat; }

.trends__subtitle {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600; }

.trends__image {
  width: 100%; }

.trends__wrapper {
  overflow: hidden;
  height: 45px;
  transition: 0.3s; }

.trends__button {
  color: #880e4f;
  cursor: pointer;
  font-size: 14px;
  width: 100px;
  margin-left: auto;
  transition: transform .2s; }
  .trends__button:hover {
    transform: scale(1.15); }

.collapsible {
  width: 100%;
  border: none; }
  .collapsible-header {
    background-color: #880e4f !important;
    border-bottom: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 600px) {
      .collapsible-header {
        font-size: 24px; } }
    @media screen and (max-width: 500px) {
      .collapsible-header {
        font-size: 20px; } }
    @media screen and (max-width: 430px) {
      .collapsible-header {
        font-size: 16px; } }
  .collapsible-body {
    border-bottom: none; }
  .collapsible .material-icons {
    font-size: 32px; }
    @media screen and (max-width: 430px) {
      .collapsible .material-icons {
        font-size: 20px; } }
  .collapsible__icon {
    margin-left: 20px; }

