.coaches {
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__image {
    width: 100%;
  }

  &__item {
    display: flex;
    margin-bottom: 20px;
  }

  &__photos {
    flex-basis: 20%;
  }

  &__text {
    flex-basis: 70%;
  }


  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    max-width: 650px;
  }
}
