.collapsible {
  width: 100%;
  border: none;

  &-header {
    background-color: #880e4f !important;
    border-bottom: none;
    //color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-body {
    border-bottom: none;
  }

  .material-icons {
    font-size: 32px;
  }

  &__icon {
    margin-left: 20px;
  }
}
