.timetable {
  &__img {
    width: 100%;
    max-width: 200px;
  }

  &__info {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__image-block {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
  }

  &__image {
    width: 100%;
  }
}
